// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '__variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.has-error .invalid-feedback{
    display: block;
}
.router-link-exact-active {
    color: white !important;
}