<template>
    <form @submit.prevent="submit" class="col-md-4 offset-md-4 pt-5 mt-5" @keydown="onKeydown()">
        <h1 class="h3 mb-3 font-weight-normal">Register form</h1>
        <div v-if="msg" class="text-success mb-3 alert-success p-3">
            {{ msg }}
        </div>
        <!-- Name field -->
        <div class="form-group" :class="{'has-error':errors.has('name')}">
			<label class="control-label">Name</label>
            <input type="text" 
                    v-model="form.name"
                    name="name"
                    v-validate="'required|max:255|min:3'"
                    class="form-control" 
                    :class="{'is-danger': errors.has('name') }" 
                    placeholder="Name" />
            <span v-if="errors.has('name')" class="invalid-feedback">
                <strong v-text="errors.first('name')"></strong>
            </span>
		</div>

        <!-- Email field -->
        <div class="form-group" :class="{'has-error':errors.has('email')}">
			<label class="control-label">Email address</label>
            <input type="text" 
                    v-model="form.email"
                    name="email"
                    v-validate="'required|max:255|email'"
                    class="form-control" 
                    :class="{'is-danger': errors.has('email') }" 
                    placeholder="Email address" />
            <span v-if="errors.has('email')" class="invalid-feedback">
                <strong v-text="errors.first('email')"></strong>
            </span>
		</div>

        <!-- Date field -->
        <div class="form-group" :class="{'has-error':errors.has('date_of_britday')}">
			<label class="control-label">Date of birthday</label>
            <input  type="date" 
                    v-model="form.date_of_britday"
                    name="date_of_britday"
                    v-validate="'required'"
                    class="form-control"
                    :class="{'is-danger': errors.has('date_of_britday') }"
                    placeholder="Date of birthday" />
            <span v-if="errors.has('date_of_britday')" class="invalid-feedback">
                <strong v-text="errors.first('date_of_britday')"></strong>
            </span>
		</div>

        <!-- Sex field -->
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" v-model='form.sex' value="male" name="sex">Male
            </label>
            <label class="radio-inline ml-3">
                <input type="radio" v-model='form.sex' value="female" name="sex">Female
            </label>

        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    </form>
</template>

<script>
    export default {
        name: "Register",
           data() {
            return {
                msg: null,
                form: {
                    name: '',
                    email: '',
                    sex: 'male',
                    date_of_britday: '',
                }
            };
        },
        methods: {
            onKeydown(){
              this.msg = null;
              this.errors.clear()
            },
            submit(){
                this.$store.dispatch('register', this.form).then(response =>{
                    this.msg = 'User Created';
                }).catch(error =>{
                    this.$setErrorsFromResponse(error.response.data);
                })
            },
        }

    }
</script>

