<template>
    <div class="container" style="min-width: 800px">
        <h1 class="mt-5 pt-5 mb-3">Users</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email address</th>
                <th scope="col">Date of birthday</th>
                <th scope="col">Sex</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="'user' + users.id">
                <th scope="row">{{ user.id}}</th>
                <td>{{ user.name}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.date_of_britday}}</td>
                <td>{{ user.sex}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        name: "Users",
        computed: {
            ...mapGetters({
                users: 'users',
            }),
        },
        mounted(){
            this.$store.dispatch('setUsers')
        }

    }
</script>

