<template>
    <div id="app">
        <nav-menu></nav-menu>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        mounted () {

        },
        methods: {

        }
    }
</script>